# zipped data
*.zip

# data files
data/

# mac files
.DS_Store

# python cache
__pycache__/
*.pyc
.pytest_cache/

# test data outputs
test/test_data/*.jpg

# unnecessary scripts
src/check_overscan.py

# sandboxing notebook
src/sandbox.ipynb

# test log
test/test.log

# Everything in docs/schematic except the .tex and .pdf files
docs/schematic/*
!docs/schematic/schematic.tex
!docs/schematic/schematic.pdf